<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">
    <form #flightSearchForm="ngForm" [roundTrip]="['from','to']">
      <div class="form-group">
        <label>From:</label>
        <input [(ngModel)]="from"
               [ngModelOptions]="{ updateOn: 'change' }"
               autocomplete="false"
               name="from"
               class="form-control"
               required="required"
               [minlength]="minLength"
               [maxlength]="maxLength"
               [pattern]="pattern">
      </div>

      <flight-validation-errors fieldLabel="From"
                                [errors]="flightSearchForm.controls.from?.errors"
                                [minLength]="minLength"
                                [maxLength]="maxLength">
      </flight-validation-errors>

      <div class="form-group">
        <label>To:</label>
        <input [(ngModel)]="to"
               name="to"
               class="form-control"
               required="required"
               [minlength]="minLength"
               [maxlength]="maxLength"
               [pattern]="pattern"
               [city]="['Graz', 'Salzburg', 'Hamburg', 'München']">
      </div>

      <flight-validation-errors fieldLabel="To"
                                [errors]="flightSearchForm.controls.to?.errors"
                                [minLength]="minLength"
                                [maxLength]="maxLength">
      </flight-validation-errors>

      <flight-validation-errors fieldLabel="Form"
                                [errors]="flightSearchForm?.errors">
      </flight-validation-errors>

      <div class="form-group">
        <button class="btn btn-default"
                [disabled]="!to || !from || flightSearchForm.invalid || flightSearchForm.pending"
                (click)="search()">
          Search
        </button>

        <button *ngIf="flights.length > 0" class="btn btn-default" style="margin-left: 10px"
                (click)="delayFirstFlight()">
          Delay 1st Flight
        </button>
      </div>
    </form>
  </div>
</div>

<h3 *ngIf="flights.length > 0" class="title">Flights with Subscription</h3>
<div *ngIf="flights.length > 0" class="row">
  <div *ngFor="let f of flights" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <flight-card [item]="f"
                 [(isSelected)]="basket[f.id]"
                 (isSelectedChange)="$event ? selectedFlight = f : selectedFlight = null"
                 (edit)="onEdit(f.id)">
      <flight-status-toggle style="margin-left: 10px" [(status)]="f.delayed"></flight-status-toggle>
    </flight-card>
  </div>
</div>

<!--<ng-container *ngIf="flights$ | async as flights">
  <h3 *ngIf="flights.length > 0" class="title">Flights with Aysnc Pipe</h3>
  <div *ngIf="flights.length > 0" class="row">
    <div *ngFor="let f of flights" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <flight-card [item]="f"
                   [(isSelected)]="basket[f.id]"
                   (isSelectedChange)="$event ? selectedFlight = f : selectedFlight = null"
                   (edit)="onEdit(f.id)">
        <flight-status-toggle style="margin-left: 10px" [(status)]="f.delayed"></flight-status-toggle>
      </flight-card>
    </div>
  </div>
</ng-container>-->

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>
