<h1>{{title}}</h1>

<img width="2596" height="1890"
     ngSrc="grimming_from_glaeserkoppe.jpg" ngSrcset="320w, 640w, 1280w, 2596w"
     alt="Photo showing Grimming from the Gläserkoppe"
     priority />

<div>
  <img width="914" height="1218"
       ngSrc="snow_riesneralm.jpg" ngSrcset="320w, 640w, 914w"
       alt="Photo showing Me in deep powder" />

  <img width="914" height="1218"
       ngSrc="sun_glaeserkoppe.jpg" ngSrcset="320w, 640w, 914w"
       alt="Photo showing sun and snow crystals" />
</div>

